body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

/*此为笔者网站较为个性化的鼠标指针样式，可结合个人需要自行修改*/
/* body {
	cursor: url(mouse/arrow.cur), default !important;
}

select,.link:hover,link::before,
button,a:hover{
	cursor: url(mouse/link.cur), pointer !important;
}
h1,h2,h3,span{
	cursor: text !important;
} */


/*front*/
@font-face {
    font-family: Gilbert;
    src: url("/fonts/Gilbert-Bold-Preview5.woff2")
}

@font-face {
    font-family: LXGWWenKaiMonoScreen;
    src: url("/fonts/LXGWWenKaiMonoScreen.woff2")
}

@font-face {
    font-family: Minecraft;
    src: url("/fonts/minecraft.woff2");
}

.minecraft {
    font-family: Minecraft, sans-serif;
}

.Gilbert-font {
    font-family: "Gilbert", sans-serif;
}

.main-font,
.LXGW-WenKai-Mono {
    font-family: "LXGWWenKaiMonoScreen", sans-serif;
    color: var(--color-text);
}

/*loader*/
.line-wobble {
    --uib-size: 80px;
    --uib-speed: 1.55s;
    --uib-color: black;
    --uib-line-weight: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    border-radius: calc(var(--uib-line-weight) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.line-wobble::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    opacity: 0.1;
}

.line-wobble::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(var(--uib-line-weight) / 2);
    animation: wobble var(--uib-speed) ease-in-out infinite;
    transform: translateX(-90%);
    background-color: var(--uib-color);
}

@keyframes wobble {
    0%,
    100% {
        transform: translateX(-90%);
    }

    50% {
        transform: translateX(90%);
    }
}
